##
## IntelliJ IDEA files
##
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/uiDesigner.xml
#
# Gradle
.idea/**/gradle.xml
.idea/**/libraries
.idea/modules.xml
.idea/*.iml
.idea/modules


##
## gradle files
##
.gradle/
/build/
/out/